#dropdown {
  display: flex;
  flex-direction: column;
  opacity: 1;
  /* margin-top: 100px; */
  margin-top: 28%;
  position: relative;
  background-color: rgba(240, 255, 240, 1);
  /* background-color: red; */
  height: 300px;
  border: 4px double rgb(29, 29, 29);
  padding: 5px;
}

.profile-dropdown > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px 3px 7px 3px;
}

.profilePicture {

  max-height: 100px;
}

img {

  max-height: 200px;
  max-width: 200px;

}